/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root {
  --maincolor: #FFFFFF;
  --primarycolor: #000000;
  --secondarycolor: #AAAAAA;
  --tertiarycolor: #CCCCCC;
  --sidebarbackground: #CACACA;
  --linkcolor: #0D47A1;
  --linkcoloralternate: #B71C1C;
  --white: #FFFFFF;
  --black: #000000;
}

/* Text styles */

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--maincolor);
  color: var(--black);
}

h1 {
  color: var(--primarycolor) !important;
  font-family: "Noto Sans", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--secondarycolor) !important;
  font-family: "Noto Sans", sans-serif;
}

.title {
  color: var(--black) !important;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  font-family: "Noto Sans", sans-serif ! important
}

#toc.toc2 a:link {
  color: var(--linkcolor);
}

blockquote {
  color: var(--secondarycolor) !important
}

.quoteblock {
  color: var(--black)
}

.quoteblock blockquote:before {
  color: var(--black)
}

code {
  color: var(--white);
  background-color: var(--secondarycolor) !important
}

mark {
  background-color: var(--tertiarycolor)
}

/* Text highlighting color */

/* Table styles */
th {
  background-color: var(--maincolor);
  color: var(--black) !important;
}

td {
  background-color: var(--maincolor);
  color: var(--black) !important
}


#toc.toc2 {
  background-color: var(--sidebarbackground);
}

#toctitle {
  color: var(--white);
}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
  table {
    width: 55vw !important;
    font-size: 3vw;
  }
}