html, body, .wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch; // Safari !! -.-
    background-color: white;
    font-size:18px;
}

pre {
    /* Prims.js box smaller */
    font-size: 0.8em!important;
    line-height: 1!important;
    padding-top: 0 !important;
}

.m2-container {
    max-width: 800px;
    width: 90%;
    margin: auto;
}

.spacer {
    width: 100%;
    height: 4em;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.white-text {
    color: $white;
}

.green-text {
    color: $green;
}

.orange-text {
    color: $orange;
}

.dark-grey-text {
    color: $dark-grey;
}

.light-grey-text {
    color: $light-grey;
}

.black-text {
    color: $black;
}
