@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: $open_sans_normal;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    src: $open_sans_bold;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

p {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 1.3em;
}

a {
    color: $orange;

    &:hover {
        color: rgba($orange, 0.8);
    }
}

.bold {
    font-weight: bold;
}

