.katex-display {
    display: inline-block!important;
    margin: 0!important;
    margin-bottom: -0.4rem!important;
    padding: 0;
    white-space: nowrap;
    max-width: 100%;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}
.katex { font-size: 1.1em; }