.navi-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;

    justify-content: center;
    align-items: flex-end;

    list-style: none;

    @media screen and (max-width: $mobile) {
        padding-top: .2em;
    }

    .navi-item a {
        font-size: 1.3em;
        cursor: pointer;
        color: $dark-grey;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 0.7em;
    }
}
