.post-list {
    list-style: none;

    &__item {
        border-bottom:1px solid $light-grey;

        h2 {
            margin-bottom: 2px;
        }

        &__post-date {
            font-size: 0.8em;
        }
        
    }
}