#scroll-top {
    position: fixed;
    bottom: 2em;
    right: 5em;

    width: 50px;
    height: 50px;
    background-color: transparent;
    opacity: 0.78;

    @media screen and (max-width: $mobile) {
        right: 1em;
        bottom: 1em;
    }

    a img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}
