#single-post {
    min-height: 80%;
    margin-top: 3em;

    .main-headline{
        margin-bottom: 15px;
    }

    .note {
        background-color: #bbbbbf8c;
        padding: 1em;
        border: 4px solid $orange;;
    }   
    
    .admonition-title {
        border-bottom: 2px solid $black;
    }

    h2 {
        margin-top: 2em;
    }

    img {
        max-width: 100%;
    }
}


