table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $mobile) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}
