// Media Query
$large: 1280px + 1;
$tablet: 1024px + 1;
$mobile: 500px + 1;



// Colors
$green: #5da011;
$orange: #ba3925;
$white: rgb(255, 255, 255);
$light-grey: #dfdbdb;
$dark-grey: #474444;
$black: #242424;


