
<!DOCTYPE html>
<html lang="{{ .Params.lang | default "en" }}">

    {{ partial "header.html" . }}

<body>

    {{partial "navigation.html" . }}

    
    {{ block "main" . }}
        Main content
    {{end}}


    {{ partial "footer.html" . }}

</body>
</html>
