{{define "main"}}

<div class="m2-container">

    <div class="divider"></div>
    
    <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
            <li class="post-list__item">
                <h2> <a href="{{ .Permalink }}"> {{ .Title }} </a> </h2>
                <span class="ppost-list__item__post-date">{{ .Date.Format "02.01.2006" }}</span>
                <p>{{ .Summary }}</p>
            </li>        
        {{ end }}
    </ul>

</div>
{{end}}
