{{ define "main" }}


  <main id="single-post" class="m2-container black-text">
    <h1 class="orange-text main-headline">{{ .Title }}</h1>
    <span class="dark-grey-text">Published: {{ .Date.Format "02.01.2006" }} | {{ .WordCount }} Words |  {{.ReadingTime }} minutes</span>

    {{ partial "tags.html" .}}



    {{ if (gt .WordCount 400 ) }}
        <aside>
            {{.TableOfContents}}
        </aside>
        {{ end }}

    {{ .Content }}

    <h5 class="green-text">That's all ;)</h5>

    {{partial "scroll2top.html"}}
  </main>

{{ end }}
