{{ define "main" }}
  <main id="tags-page" class="m2-container">
    <h2> List of all {{ .Title }}</h2>
    <ul class="patterns-list">
      {{ range .Data.Terms.Alphabetical }}
        <li>
            <a href="{{ .Page.RelPermalink }}">
              {{ printf "(%d) %s" .Count .Page.Title }}
            </a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
