<div class="divider"></div>

 <footer class="m2-container">
    <div>
        <span class="black-text bold">Found an error?</span>
			<span>Raise an issue on <a href="https://gitlab.com/togir/weiler.rocks">Gitlab</a> or write me an <a href="https://weiler.rocks/gpg">Email</a></span>
    </div>
</footer>

<!-- KaTEX -->
{{ $katex_main := resources.Get "katex/katex.min.js" }}
{{ $secure_katex_main := $katex_main | resources.Fingerprint "sha512" }}
<script type="text/javascript" defer src="{{ $secure_katex_main.Permalink }}" integrity="{{ $secure_katex_main.Data.Integrity }}"></script>

{{ $katex_autorender := resources.Get "katex/contrib/auto-render.min.js" }}
{{ $secure_katex_autorender := $katex_autorender | resources.Fingerprint "sha512" }}
<script type="text/javascript" defer src="{{ $secure_katex_autorender.Permalink }}" integrity="{{ $secure_katex_autorender.Data.Integrity }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            displayMode: true,
            output: 'html'

        });
    });
</script>
<!-- End KaTEX code -->

 <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>

