<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ $.Page.Summary | default $.Site.Params.description }}">
    <meta name="are-you-up" content="{{$.Site.Params.areYouUp}}">
    <meta name="keywords" content="{{$.Site.Params.keywords}}">
    
    <meta name="msvalidate.01" content="14256548B53B4E5B5D5A79599183CCB8" />
    
    {{ if not $.Site.Params.searchEngineIndex }}
        <meta name="robots" content="noindex">
    {{ end }}
    
    <title>
        {{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}
    </title>

    <link rel="canonical" href="{{ .Permalink }}">
    

    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" ) }}
    {{ $style := resources.Get "scss/index.scss" | resources.ExecuteAsTemplate "style.main.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}

    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}" >

    {{ $katex_css := resources.Get "katex/katex.min.css" }}
    {{ $secure_katex_css := $katex_css | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $secure_katex_css.Permalink | absURL }}" integrity="{{ $secure_katex_css.Data.Integrity }}">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">

</head>
