<nav id="top-navigation">
  <ul class="navi-list">
    <li class="navi-item"><a href="{{ .Site.BaseURL | absURL }}">Home</a></li>
    <li class="navi-item"><a href="{{ "tags/rezept/" | absURL }}">Rezepte</a></li>
    <li class="navi-item"><a href="{{ "tags" | absURL }}">Tags</a></li>
    <li class="navi-item"><a href="{{ "gpg" | absURL }}">Contact</a></li>
  </ul>
</nav>

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>
