{{ $taxonomy := "tags" }}
{{ with .Param $taxonomy }}
    <div class="tags-list">
    
            <span class="tags-list__item bold">Tags:</span>
            <span class="tags-list__item">[</span>


        {{ range $index, $tag := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                <a class="tags-list__item" href="{{ .Permalink }}">{{ $tag | urlize }}</a>
            {{- end -}}
        {{- end -}}

        <span class="tags-list__item"> ]</span>

    </div>
{{ end }}
