{{ define "main"}}
    <main id="main">
        <div class="m2-container">
            <h1>Page not found!</h1>
            <h2 class="light-grey-text">Seite nicht gefunden</h2>
						<img src="https://weiler.rocks/img/404.gif">
            <h4 id="title"><a href="{{ "/" | relURL }}">HOME</a></h4>
        </div>
    </main>
{{ end }}
