{{define "main"}}

<div class="m2-container">
    <h1>Welcome</h1>

    <div class="divider"></div>
    
    <ul class="post-list">
        {{ range where .Pages.ByDate.Reverse ".Date" "gt" (time "2000-01-01") }}
        {{/* where ".Date" "gt" (time "2000-01-01") is filtering pages without front-matter because they get a default date of 0001-01-01  */}}
            <li class="post-list__item">
                <h2> <a href="{{ .Permalink }}"> {{ .Title }} </a> </h2>
                <span class="post-list__item__post-date">{{ .Date.Format "02.01.2006" }}</span>
                <p>{{ .Summary }}</p>
            </li>        
        {{ end }}
    </ul>

</div>
{{end}}
